<header>
	<nav class="navbar navbar-expand-md navbar-light bg-custom">
		<button id="topBtn" title="Go to top" onclick="topFunction()">
  			<i class="fa fa-arrow-up"></i>
		</button>
		<div class="container">
			<a id="1" class="navbar-brand" href="{{path('app_home')}}" aria-current="page"><img src="{{asset('assets/img/logo_harpie.png')}}" alt="logo harpie" width="55px" /></a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul id='navbarlink' class="navbar-nav ms-auto align-items-end">
					<li class="nav-item">
						<a id="2" class="nav-link" href="{{path('app_projets')}}" onclick="selectLink(this)">Nos projets</a>
					</li>
					<li class="nav-item">
						<a id="3" class="nav-link" href="#" onclick="selectLink(this)">Faites un don</a>
					</li>
					<li class="nav-item">
						<a id="4" class="nav-link" href="{{path('app_contact')}}" onclick="selectLink(this)">Nous contacter</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon profil</a>
						<div class="dropdown-menu" aria-labelledby="dropdownId">
						{% if app.user %}
							 <a href="{{ path("app_account", {id: app.user.id}) }}" class="dropdown-item">Mon compte</br><small>({% if app.user.pseudo %}{{ app.user.pseudo }}{% else %}{{ app.user.firstname }}{% endif %})</small></a>
							 <a href="{{ path("app_logout") }}" class="dropdown-item">Déconnexion</a>
							{% else %}
							<a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
						    <a class="dropdown-item" href="{{path('app_registration')}}">S'inscrire</a>
						{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</nav>
</header>