{% extends 'base.html.twig' %}

{% block title %}
    Nos Projets - Harpie
{% endblock %}

{% block body %}
    <div id="ourprojects" class="my-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center mx-auto col-md-8 mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center mx-auto col-md-8 mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1>
            NOS PROJETS
        </h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="btn_create text-center mt-5">
                <a href="{{ path('projet_new') }}" class="btn btn-secondary">
                    Créer un nouveau projet
                </a>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="container">
                <div class="row col-12">
                    {% for projet in projets %}
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card mb-4">
                                <img class="card-img-top"
                                    src="{{ projet.image }}" />
                                <div class="card-body d-flex align-items-center flex-column">
                                    <h5 class="card-title text-center">
                                        {{ projet.title }}
                                    </h5>
                                    <p class="card-text text-center pt-3">
                                        <small class="text-muted">
                                            Publié le : {{ projet.createdAt|date('d/m/Y') }}
                                        </small>
                                    </p>
                                    <p class="card-text text-center">
                                        {{ projet.description }}
                                    </p>
                                    <span class="mt-2">Dons :</span>
                                    <div class="progress w-75 mt-2 mb-4">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar"
                                                aria-label="Total Donation"
                                                aria-valuenow="{{projet.average}}"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                                style="width: {{projet.average * 20}}%">
                                            </div>
                                    </div>
                                    <a href="{{path('app_projet_description', {id:projet.id})}}"
                                        class="card-link projectsPage my-3">
                                        Plus d'informations
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="btn-crud d-flex mx-auto">
                                            <a href="{{
                                                path(
                                                    'projet_edit',
                                                    {
                                                        id: projet.id
                                                    }
                                                )
                                                }}"
                                                class="btn btn-dark my-auto mx-1">
                                                Modifier
                                            </a>
                                            <a href="{{
                                                path(
                                                    'projet_delete',
                                                    {
                                                        id: projet.id
                                                    }
                                                )
                                                }}"
                                                onclick="return confirm('Voulez vous vraiment supprimez ce projet ?');"
                                                class="btn btn-danger mx-1">
                                                Supprimer
                                            </a>
                                        </div>
                                    {% endif %}
                                    <p class="card-text text-center">
                                        <small class="text-muted">
                                            Mise à jour le {{ projet.updatedAt|date('jS F \\a\\t g:ia', 'Europe/Paris') }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
