{% extends "base.html.twig" %}

{% block title %}{{projet.title}} - Harpie {% endblock %}

{% block body %}
    <div class="container my-5 col-md-5">
            <h1>{{projet.title}}</h1>
        <img src=".{{projet.image}}" width="250px" class="card-img-top my-5"/>
        <div class="card-description col-md-12 mt-3">
            <p>
            {{projet.description}}
            </p>
            <p class="mt-5">
                Totals des dons pour ce projet
            <hr class="">
            </p>
                <div class="progress col-md-4 mb-5">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar"
                                                aria-label="Total Donation"
                                                aria-valuenow="{{projet.average}}"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                                style="width: {{projet.average * 20}}%">
                                            </div>
                                    </div>
            <a href="{{ path('app_projets')}}" class="btn btn-secondary my-5">Retourner sur la page des projets</a>
        </div>
        </div>
      </div>
    </div>
{% endblock %}