{% extends 'base.html.twig' %}

{% block title %}
    {{ projet.title }} - Harpie
{% endblock %}

{% block body %}
    <div class="container my-5 col-md-5">
        <h1>
            {{ projet.title }}
        </h1>
        <img src="{{ vich_uploader_asset(projet, 'imageFile') }}"
            width="250px"
            class="card-img-top my-5" />
        <div class="card-description col-md-12 mt-3">
            <p>
                {{ projet.description }}
            </p>
            <p class="mt-5">
                Note de l'article<hr class="" />
            </p>
            <div class="marks my-4">
                {% for i in 1..projet.average %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center mx-auto col-md-12 mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            {% if app.user %}
                {{ form(form) }}
            {% endif %}
            <div class="mark bg-white"></div>
            <a href="{{ path('app_projets') }}" class="btn btn-secondary my-5">
                Retourner sur la page des projets
            </a>
        </div>
    </div>
{% endblock %}
